<!--<div style="text-align:center">
 <h1>
 Welcome to {{title}}!!
 </h1>
 <img width="300" src="https://us.123rf.com/450wm/nexusplexus/nexusplexus1803/nexusplexus180301586/97569029-imagen-de-fondo-abstracto-con-planetas-espaciales-y-paisaje-natural-.jpg?ver=6" />
</div>
<h2>Here are some links to help you start: </h2>
<ul>
 <li>
 <h2><a target="_blank"
href="https://angular.io/docs/ts/latest/tutorial/">Tour of Heroes</a></h2>
 </li>
</ul>-->
<!--
<div class="encabezado" >
 <h1>¡Hola {{ destino }}!</h1>
 <app-copyright></app-copyright>
</div>
-->
<!--
<div class="container" >
 <h3>Ejemplo de Interpolación con Objeto</h3>
 <hr>
 <app-viewmodelo></app-viewmodelo>
</div>
<div class="container" >
 <h3>Ejemplo de Interpolación con Método</h3>
 <hr>
 <app-ejmetodo></app-ejmetodo>
</div>
<div class="container" >
 <h3>Ejemplo de Property Binding</h3>
 <hr>
 <app-ejpropertybinding></app-ejpropertybinding>
</div>
<div class="container" >
 <h3>Ejemplo de Event Binding</h3>
 <hr>
 <app-ejeventbinding></app-ejeventbinding>
</div>
<div class="container" >
 <h3>Ejemplo de Two Way Binding</h3>
 <hr>
 <app-ej2waybinding></app-ej2waybinding>
</div>-->
<div class="container">
  <h3>Ejemplo de directiva ngIf</h3>
  <app-ejdirectivangif></app-ejdirectivangif>
</div>
<div class="container">
  <h3>Ejemplo de directiva ngStyle</h3>
  <hr>
  <app-ejdirectivangstyle></app-ejdirectivangstyle>
</div>

